.container {
  
}

.lalala{
  color: red;
  width: 375px;
  background-color: bisque;
  font-size: 15px;
}

.rect{
  width: 375px;
  height: 59px;
  background-color: #eee;
  // transform:rotate(30deg);
}